In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read in negative examples
negative_examples = pd.read_csv('/path/to/9_FINAL/data/all_negative_examples.csv', sep=";")
del negative_examples['Unnamed: 0']
negative_examples.head()

,_id,instance,class,frequency,pidspread,pldspread,modifications
0,1643854,1866,railway,1,1,1,['p8b']
1,1648888,1960,library,6,5,6,"['p23a', 'p12a', 'p20a', 'p8a', 'p8b', 'p8a']"
2,1673500,1960,costume,3,1,3,['p2']
3,1678428,1975,epithet,1,1,1,['p5']
4,1678435,2000,habitat,1,1,1,['p8b']

# 1. pidspread

In [3]:
# show how many pids are the "norm"
negative_examples['pidspread'].describe() 
# subclass mean: 11.62
# transitive subclass: 10.98
# type: 4.73
# transitive type: 3.29
# negative examples: 2.59 -> way less than normal

count    6.843800e+06
mean     2.593732e+00
std      3.722149e+00
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      5.700000e+01
Name: pidspread, dtype: float64

In [4]:
# show which pids are contained how often
negative_examples['pidspread'].value_counts()

1     4092744
2     1063744
3      501843
4      296661
5      196063
6      137638
7      101056
8       76797
9       60541
10      47900
11      38800
12      32302
13      27013
14      22400
15      18989
16      16427
17      13993
18      12084
19      10808
20       9529
21       8351
22       7195
23       6365
24       5660
25       5022
26       4428
27       3945
28       3443
29       3070
30       2739
31       2342
32       2159
33       1913
34       1658
35       1443
36       1282
37       1087
38        885
39        758
40        616
41        525
42        398
43        314
44        249
45        196
46        129
47         90
48         58
49         45
50         29
51         22
52         15
54         14
53         13
55          6
56          3
57          1
Name: pidspread, dtype: int64

# 2. pid distribution

In [5]:
# replace unnecessary signs
negative_examples['modifications'] = negative_examples['modifications'].replace('\]|,\s|\'|\[', '', regex=True)
negative_examples

,_id,instance,class,frequency,pidspread,pldspread,modifications
0,1643854,1866,railway,1,1,1,p8b
1,1648888,1960,library,6,5,6,p23ap12ap20ap8ap8bp8a
2,1673500,1960,costume,3,1,3,p2
3,1678428,1975,epithet,1,1,1,p5
4,1678435,2000,habitat,1,1,1,p8b
...,...,...,...,...,...,...,...
6843795,467302079,zzz,model,1,1,1,p5
6843796,467609399,zzz,datum,1,1,1,p21a
6843797,468882452,zzz,skill,2,1,1,p8a
6843798,470608021,zzz,sound,1,1,1,p8b
6843799,470896355,zzz,brand,2,2,2,p4p8a

In [7]:
# get all different pids
negative_examples['pids_sanitized'] = negative_examples['modifications'].str.split('p')

all_pids = []
for index, row in negative_examples.iterrows():
    for element in row['pids_sanitized']:
        if element not in all_pids:
            all_pids.append(element)

all_pids.remove('') # remove empty element

In [8]:
len(all_pids) # in total 58 different pids in subclasses

58

In [ ]:
# append number of occurrences as new column to negative classes dataframe
def pid_exists(row, pid):
    if pid in row['modifications']:
        return 1
    else:
        return 0

occurences = [] # no of occurences of pids

for pid in all_pids:
    
    negative_examples[pid] = negative_examples.apply(lambda x: pid_exists(x, pid), axis=1) # create new column with one hot encoded occurence
    print('pid: {} || total occurence: {}'.format(pid, negative_examples[pid].sum())) # for debugging
    occurences.append(negative_examples[pid].sum())

pid: 8b || total occurence: 1511810
pid: 23a || total occurence: 303417
pid: 12a || total occurence: 285428
pid: 20a || total occurence: 292753
pid: 8a || total occurence: 3572450
pid: 2 || total occurence: 2418644
pid: 5 || total occurence: 1905582
pid: 1 || total occurence: 1697560
pid: 15a || total occurence: 138297
pid: 3a || total occurence: 1882616
pid: 23c || total occurence: 101812
pid: 23b || total occurence: 448382
pid: 28b || total occurence: 258737
pid: 8d || total occurence: 287569
pid: 21d || total occurence: 189947
pid: 28a || total occurence: 114342
pid: 21b || total occurence: 209164
pid: 20c || total occurence: 143987
pid: 8c || total occurence: 531914
pid: 27b || total occurence: 128924
pid: 10 || total occurence: 243136
pid: 43 || total occurence: 421645
pid: 16 || total occurence: 135121
pid: 23d || total occurence: 496082
pid: 24 || total occurence: 149720
pid: 25 || total occurence: 387232
pid: 27a || total occurence: 124362
pid: 21c || total occurence: 177060
pid: 34 || total occurence: 397106
pid: 20b || total occurence: 87519
pid: 21a || total occurence: 362736
pid: 26 || total occurence: 258742
pid: 28c || total occurence: 52945
pid: 28d || total occurence: 125679
pid: 11 || total occurence: 44375
pid: 23e || total occurence: 38508
pid: 39 || total occurence: 49684
pid: 12b || total occurence: 6422
pid: 7 || total occurence: 250460